.active {
    width: 100%;
    height: 100vh;

    top: 0;
    left: 0;

    position: absolute;
    z-index: 5;

    display: flex;
    align-items: center;
    justify-content: center;
}

.active::after{
    content: "";

    width: 100%;
    height: 100%;

    left: 0;
    top: 0;
    
    opacity: 50%;
    position: absolute;
    background: black;

    z-index: -1;
}

.non-active{
    display: none;
}

.active .content{
    width: 1140px;
    height: 700px;

    background: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content input{
    padding: 10px;

    outline: none;
    border: none;

    background: black;

    color: white;
}


/* ----- chat in MAIN_ROUTE ------ */

.chat {
    width: 250px;
    height: 400px;

    position: fixed;

    bottom: 2%;
    right: 2%;

    background: #ebebeb; 

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 0 0 50px rgba(171, 171, 253, 0.342);

    z-index: 3;
}

.chat row{
    width: 100%;
    height: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


    background: white;

    border-bottom:1px solid black;
}

.chat row h1{
    margin-top: 5px;
    font-size: 22px;
    margin-left: 15px;
}

.chat row img {
    width: 25px;
    margin-right: 15px;
}

.chat .message {
    width: 100%;
    height: 290px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;
}

.chat .message .dialog {
    width: 90%;
    height: 90%;

    overflow-y: hidden;

    display: flex;
    flex-direction: column;
}

.chat .message .dialog .msg{
    margin-bottom: 10px;
    width: 80%;

    padding: 5px;

    display: flex;
    justify-content: flex-start;

    border-radius: 15px;

    font-size: 14px;
    color: black;

    background: white;
}

.chat .message .dialog .user{
    margin-left: auto;
    background: #83b6f0;
}


.chat .add {
    width: 100%;
    height: 70px;

    border-top:1px solid black;

    background: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.chat .add input {
    width: 150px;
    height: 100%;
    margin: 0;

    background: none;

    color: black;
    font-size: 12px;
}

.chat .add .send {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.chat .add .send img{
    width: 30px;
    margin-right: 5px;
}





.non-chat {
    display: none;
}

.chat-ico{
    width: 50px;
    height: 50px;

    position: fixed;
    bottom: 2%;
    right: 2%;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-ico img{
    width: 25px;
    transition: all 0.3s;
}

.chat-ico img:hover{
    transform: scale(1.1);
}